.test1 {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 1300px;
  

}

.test2 {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 1300px;
  
  mix-blend-mode:screen;
  object-fit: cover;
  object-position: center;
}

img{
  width: 500px;
  height: 300px;
  position: absolute;
}