.test1 {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 1300px;

  -webkit-mask-image:url(http://yoksel.github.io/Sandbox/img/tiles/tile-transparent-black.png),linear-gradient(-45deg,
  black 20%, transparent 50%);
  mask-repeat: space;

  mask-image:url(http://yoksel.github.io/Sandbox/img/tiles/tile-transparent-black.png),linear-gradient(-45deg,
  black 20%, transparent 50%);
  mask-repeat: space;
  

}

img{
  width: 500px;
  height: 300px;
  position: absolute;
}